@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
    padding: 20px;
    max-width: 600px;
    margin-left: auto;
	margin-right: auto;
}

.header-img {
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 10px;
}

.content {
	margin-top: 0px;
}

.content h1 {
	margin: 0px;
	text-align: center;
    font-size: 45px;
    margin-bottom: 10px;
}

.content h2 {
	margin: 0px;
	margin-top: 5px;
}

.content p {
	margin-top: 0px;
  	text-align: justify;
}

.content a {
	color: black;
}

@media screen and (max-width: 490px) {
	.content > h1 {
		font-size: 30px;
	}
}

.content img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	transition: transform 0.5s;
}

.content img:hover {
	transform: scale(1.5);
}

footer {
	font-size: 14px;
	color: #6c757d;
	text-align: center;
	margin-bottom: 2rem;
	padding-top: 2rem;
}

footer p {
	text-align: center;
	margin: 0px;
}

footer a {
	color: #6c757d;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.icon i {
	font-size: 50px;
	margin: 10px;
	color: #2C3E50;
	transition: all 0.2s;
}

.icon a {
	margin: none;
	padding: none;
}

.icon i:hover {
	color: #5D6D7E;
	cursor: pointer;
	font-size: 60px;
}

.backhome {
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.backhome > a{
	color: black;
}