<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>{{ ville }} - Météodo</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<meta property="og:title" content="{{ ville }} - Météodo" />
		<meta property="og:description" content="Le bulletin météo du jour à {{ ville }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ host }}/{{ ville }}" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<meta name="theme-color" content="#F4D03F">

		<style>
			audio {
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
			<p class="backhome"><a href="/">Accueil</a></p>
			<div class="content">
				<h1>Météo du jour à {{ ville }}</h1>
				<p>Retrouvez ci dessous le bulletin météo audio généré pour aujourd'hui.</p>
				<audio src="/{{ ville }}/audio.mp3" controls></audio>

				<p>Vous pouvez aussi retrouver ce bulletin météo depuis le flux RSS spécialement dédié à cette ville! Retrouvez le lien si dessous!</p>
				<div class="icon">
					<a href="/{{ ville }}/rss"><i class="fas fa-rss"></i></a>
				</div>
			</div>
		</div>

		<footer>
			<p>Météodo est un projet développé par <a href="https://twitter.com/Bigaston">Bigaston</a></p>
			<p>Ce site utilise des icones venant de <a href="https://fontawesome.com/" target="_blank">FontAwesome</a></p>
		</footer>
	</body>
</html>